<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>报名选择</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
</head>
<body class="container">
<div class="row">

<div class="col-md-12">

欢迎您：{$username}
<a href="/index/home/logout">注销</a>
<a href="/regist.html">注册</a>
 <a href='/index/driver/index'>驾校列表</a>

 </div>
 <div style="height: 50px;background: pink;width:1500px" >模式一：1支付费用：{$package.price}<br/>
         2获得积分：{$package.price}</div>
 <div style="height: 50px;background: orange;width:1500px">模式二:1支付费用：{$package.price<<1}<br/>
        2获得积分：{$package.price}<br/>
        3获得余额：{$package.price*1.6}</div>
   </div>

</body>

</html>